.item {
    display: flex;
    align-items: center;
    flex-direction: column;

    border-bottom: 2px solid black;

    position: relative;
}

.text {
    font-size: 22px;
    font-weight: 500;
    margin: 10px;
}

.btn {
    position: absolute;
    left: 270px;
    top: 27px;

    background-color: inherit;
    color: red;
    border: none;

    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    transform: scale(1.7);
}